html,
body {
  height: 100%;
  width: 100%;
  color: $textColor;

  #root {
    height: 100%;
    background-color: whitesmoke;
    @include flexbox;

    span {
      font-size: 5em;
      margin: 40px;
    }

    a {
      margin-top: 20%;
      width: 100px;
      height: 100px;
      @include border-radius(50%);
      font-size: 50px;
      text-decoration: none;
    }
  }
}

.count {
  &.positive {
    color: yellow;
    text-shadow: 2px 2px rgb(122, 115, 115);
  }
  &.negative {
    color: green;
    text-shadow: 2px 2px rgb(122, 115, 115);
  }
}
